---
commonOverlays: []
yamlFiles:
  - name: "kong rbac"
    path: "../../vendor/all-in-one-dbless-k4k8s-enterprise.yaml"
    outputPath: "ingress/kong/rbac.yaml"
    overlays:
      - name: "ensure we are only acting upon rbac resources"
        query: "$"
        action: delete
        documentQuery:
          - conditions:
              - query: $[?($.kind != "ServiceAccount")]
              - query: $[?($.kind != "Role")]
              - query: $[?($.kind != "RoleBinding")]
              - query: $[?($.kind != "ClusterRole")]
              - query: $[?($.kind != "ClusterRoleBinding")]

      - name: "ensure namespace is updated"
        query:
          - metadata.namespace
          - subjects[*].namespace
        value: "{{ .namespace }}"

      - name: "ensure creation timestamp is missing"
        query: metadata.creationTimestamp
        action: delete
