---
commonOverlays:
  - name: "remove the helm info"
    query: 
      - metadata.labels["helm.sh/chart"]
      - metadata.labels["app.kubernetes.io/managed-by"]
    action: delete
    
yamlFiles:
  - name: "external-secrets services"
    path: "../../vendor/external-secrets.yaml"
    outputPath: "secrets/external-secrets/service.yaml"
    overlays:
      - name: "ensure we are only acting upon service resources"
        query: "$"
        action: delete
        documentQuery:
          - conditions:
              - query: $[?($.kind != "Service")]

      - name: "ensure namespace is updated"
        query: metadata.namespace
        value: "{{ .namespace }}"
